*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#111,#222);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.container{
    text-align: center;
}

.container h1{
    color: white;
    margin-bottom: 40px;
    font-size: 50px;
    letter-spacing: 3px;
}

.piano{
    position: relative;
    display: flex;
    padding: 20px;
    background: #181818;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* COMMON KEY STYLE */
.key{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
    font-weight: bold;
}

/* WHITE KEYS */
.white{
    width: 90px;
    height: 420px;
    background: white;
    border: 2px solid #000;
    border-radius: 0 0 12px 12px;
    color: #000;
    font-size: 20px;
    padding-bottom: 20px;
    margin-right: -2px;
    z-index: 1;
}

.white:hover{
    background: #f1f1f1;
}

.white:active{
    background: #ddd;
    transform: translateY(4px);
}

/* BLACK KEYS */
.black{
    position: absolute;
    width: 60px;
    height: 260px;
    background: linear-gradient(to bottom,#333,#000);
    border-radius: 0 0 10px 10px;
    color: white;
    z-index: 2;
    font-size: 16px;
    padding-bottom: 15px;
}

.black:hover{
    background: linear-gradient(to bottom,#555,#111);
}

.black:active{
    transform: translateY(4px);
}

/* BLACK KEY POSITIONS */
.black1{ left: 80px; }
.black2{ left: 170px; }

.black3{ left: 350px; }
.black4{ left: 440px; }
.black5{ left: 530px; }

.black6{ left: 800px; }
.black7{ left: 890px; }

.black8{ left: 1070px; }
.black9{ left: 1160px; }
.black10{ left: 1250px; }