* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* FIRST */

.first {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: rosybrown; */
}

.first-child {
  height: 70%;
  width: 70%;
  /* background-color: blueviolet; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.first-child h1 {
  margin-top: 30px;
  margin-bottom: 100px;
}

h1 span {
  display: block;
  font-family: "Noto Serif Display", serif;
  font-weight: 250;
  font-size: 130px;
  line-height: 0.6;
  text-align: center;
  margin-bottom: 50px;
}

.first-child p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 290px;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 1.7;
  max-width: 520px;
}

.first .first-img {
  height: 260px;
  width: 200px;
  position: absolute;
  left: 1%;
  top: 10%;
}

.first .second-img {
  height: 500px;
  width: 350px;
  position: absolute;
  right: 1%;
  bottom: 10%;
}

.first .third-img{
    height: 450px;
  width: 350px;
  position: absolute;
  left: 5%;
  bottom: -35%;
  z-index: 1;
}

/* SECOND */
.second{
    height: 100%;
    width: 100%;
    /* background-color: rgb(201, 108, 190); */
    position: relative;
    padding: 80px 10px;
}

.second .desc{
    background-color: #fff;
    height: 560px;
    width: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.second .desc h1{
    font-family: "Noto Serif Display", serif;
  font-weight: 250;
  font-size: 80px;
  /* line-height: 0.6; */
  text-align: center;
  margin-bottom: 70px;
    padding: 15px;

}

.second .desc p{
    font-family:'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 1.7;
  max-width: 520px;
  padding: 15px;
}
.sec-img{
    width: 100%;
    height: 100%;
    
}

/* services */

.services {
  width: 100%;
  padding: 120px 120px;
  background: #fff;
}

.service {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 120px 0;
  border-top: 1px solid #d0cfcf;
}

.service:last-child {
  border-bottom: 1px solid #d0cfcf;
}

.number {
  font-family: 'Noto Serif Display', serif;
  font-size: 64px;
  font-weight: 300;
}

.content h2 {
  font-family: "Noto Serif Display", serif;
  font-weight: 250;
  font-size: 80px;
  line-height: 1.05;
  margin-bottom: 24px;
}

.content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 1.7;
  max-width: 520px;
}


/* client */

.clients {
  background: #000;
  display: column;
  text-align: center;
 padding: 20px;
  margin: 10px;
}

.client {
  text-align: center;
  color: #fff;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 100px;
  letter-spacing: 0.2em;
  line-height: 1.8;
  
}

.client {
  margin-bottom: 40px;
}

.client h3 {
  font-family: 'Noto Serif Display', serif;
  font-size: 80px;
  font-weight: 250;
  margin-bottom: 6px;
}

.client span {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  opacity: 0.7;
  color: #fff;
}

.contact {
  margin-top: 100px;
  color: #fff;
}

.contact p {
  font-family: 'Noto Serif Display', serif;
  font-size: 80px;
  font-weight: 250;
  margin: 6px 0;
}

/* last */

.last {
  width: 100%;
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outer-frame {
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;

}

.card {
  background: #fff;
  width: 380px;
  padding: 70px 45px;
  text-align: center;
}

.card h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 80px;
    font-weight: 250;
  margin-bottom: 6px;
}

.card h2 {
  font-size: 12px;
  letter-spacing: 0.25em;
  font-weight: 500;
  margin-bottom: 32px;
}

.card p {
  font-size: 11px;
  line-height: 1.9;
  letter-spacing: 0.15em;
  margin-bottom: 40px;
}

.cta {
  font-family: "Noto Serif Display", serif;
  font-size: 14px;
  text-decoration: underline;
}

.hero-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0;
  font-size: 11px;
  letter-spacing: 0.1em;
}
