*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(bgimg1.png) no-repeat center center / cover;
}

.headerFooter{
    background-color: rgb(37,52,79);
    text-align: center;
    color: whitesmoke;
}
.header{
    padding: 50px;
    
}
.header h1{
    text-transform: uppercase;
    font-size: 50px;
}
.header p{
    font-size: 20px ;
    /* font-weight: 100; */
}

.one{
    padding: 50px;
    text-align: center;
    margin: 20px 100px;
    border-radius: 5px;
}

.one h2{
    text-transform: uppercase;
}
.one p{
    background-color: whitesmoke;
    margin: 10px 80px;
    padding: 20px;
    font-size: larger;
    border-radius: 5px;
}
.aboutMe{
    background-color: rgb(97,120,145);
}
 
.education{
    background-color: skyblue;
}
.skills{
    background-color: rgb(213,184,147);
}
.projects{
    background-color: rgb(111,77,56);}
.contact{
    background-color: rgb(99,32,36);
}
.footer{
    padding: 30px;
    text-transform: uppercase;
}